.menu
    width: 100%
    background-color: $main-color
    
    &__list
        height: 60px 
        display: flex
        justify-content: space-between
        padding: 13px 80px
        margin: 0
        align-items: center
        list-style-type: none
        color: $secondary-color
        border: 2px solid $secondary-color
        
        a
            color: #ffffff

           
    
    
    
