.promo
    margin-top: 60px
    .container
        min-height: 550px
    &__info
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        padding: 15px 30px
        height: 200ox
    &__contacts
        margin-top: 7px
    &__img
        img
            width: 100%